
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">Bienvenido, </p>
  <a href="#" class="inline-flex space-x-2 items-center">
    <span>
      <img class="rounded-full w-8 h-8"
        src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
        alt="" />
    </span>
    <span class="text-sm md:text-base font-bold">{{this.userName}}</span>
  </a>
</div>
<ul class="flex flex-col pl-0 mb-0">

  @for (item of menuItems; track $index) {

  <li class="mt-0.5 w-full">
    <a
    [routerLink]="item.path"
    routerLinkActive="bg-blue-600"
    href="#"
    class="py-2.7 bg-blue-500/13 dark:text-white dark:opacity-80 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 font-semibold text-slate-700 transition-colors">
      <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
        <i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2 "></i>
      </div>

      <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">{{ item.title }}</span>

    </a>
  </li>
  }
</ul>
