<section class="container px-4 mx-auto">
  <div class="bg-white rounded shadow p-10">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
        <div class="flex items-center gap-x-3">
          <h2 class="text-lg font-medium">
            <app-title title="Registro de Clientes." />
          </h2>
        </div>
        <!-- <p class="mt-1 text-sm">Lista de Estudiantes...</p> -->
      </div>
    </div>

    <!--FILTER: BEGIN-->
    <app-filter-cliente />
    <!--FILTER: END-->

    <!--GRILLA: BEGIN PAGINATE-->
    <div class="flex items-center justify-between"></div>

    <!--GRILLA: END PAGINATE-->
  </div>
</section>
