<div class="flex-none w-full max-w-full px-3">
  <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded bg-clip-border">
    <div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
            <app-title title="Registro de Pedidos." />
    </div>

    <!--FILTER-->
    <div class="flex-auto px-2 pt-2 pb-1">
      <app-filter-pedido (onAddEvent)="openModal(0)" />
    </div>

    <!--GRILLA-->
    <div class="flex-auto px-2 pt-2 pb-1">
      <div class="p-0 overflow-x-auto">
        @defer {
          <app-grilla-pedido [setDataList]="pedidos" (onViewPdfEvent)="goModalPdf($event)" (onEditEvent)="onEditPedido($event)"/>
        } @loading (after 100ms; minimum 1s) {
          <div class="flex justify-center items-center h-64">
            <div class="loader">Cargando...</div>
          </div>
        }
      </div>
    </div>

    <div class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
      <app-title title="Registro de Pedidos." />
</div>

  </div>
</div>


<app-modal [setDisabled]="true" #modal>
  <app-pedido-pdf (onClosed)="closeModal()" [idPedido]="base64ReportPedido" />
</app-modal>




<!-- <app-pedido-pdf [idPedido]="base64ReportPedido" /> -->

<!--
      (onEditEvent)="edit($event)"
  (onDeleteEvent)="delete($event)"
  [pageSize]="pageSize"
  [page]="page"
  [count]="count"
GRILLA: END-->

<!--GRILLA: BEGIN PAGINATE-->
<!--GRILLA: END PAGINATE-->
