<section class="container px-4 mx-auto">
  <div class="bg-white rounded shadow p-10">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
        <div class="flex items-center gap-x-3">
          <h2 class="text-lg font-medium">
            <app-title title="Registro de Pedidos." />
          </h2>
        </div>
      </div>
    </div>

    <!--FILTER-->
    <app-filter-pedido (onAddEvent)="openModal(0)" />


    @defer {
      <app-grilla-pedido [setDataList]="pedidos" (onViewPdfEvent)="goModalPdf($event)" />
    } @loading (after 100ms; minimum 1s) {
      <div class="flex justify-center items-center h-64">
        <div class="loader">Cargando...</div>
      </div>
    }

    <!--GRILLA-->



  </div>
</section>


<app-modal [setDisabled]="true" #modal>
  <app-pedido-pdf (onClosed)="closeModal()" [idPedido]="base64ReportPedido" />
</app-modal>

<!-- <app-pedido-pdf [idPedido]="base64ReportPedido" /> -->

<!--
      (onEditEvent)="edit($event)"
  (onDeleteEvent)="delete($event)"
  [pageSize]="pageSize"
  [page]="page"
  [count]="count"
GRILLA: END-->

<!--GRILLA: BEGIN PAGINATE-->
<!--GRILLA: END PAGINATE-->
